.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e89325;
  }
  
  .logo-container {
    width: 10px;
    height: 10px;
  }
  
  .nav-container {
      display: flex;
  }
  
  .nav-container li {
    margin: 60px;
    list-style: none;
  }
  
  .nav-container li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    font-size: 18px;
  }