.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e89325;
  }
  
  .logo-container img {
    width: 100px;
    height: 100px;
  }
  
  .nav-container {
      display: flex;
  }
  
  .nav-container li {
    margin: 60px;
    list-style: none;
  }
  
  .nav-container li a {
    
    color: rgb(255, 240, 240);
    font-weight: 1000;
    font-size: 18px;
  }