.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e89325;
  }
  
  .logo-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .nav-container {
      margin: 0;
    display: flex;
  }
  
  .nav-container li {
    margin: 0 60px;
    list-style: none;
  }
  
  .nav-container li a {
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 18px;
  }